In [1]:

!pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sarahfathimaa","key":"8f60934c957d565a6631b1fdda5fc678"}'}

In [3]:

! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
 !kaggle datasets download -d salmaneunus/ttl-fb

Downloading ttl-fb.zip to /content
  0% 0.00/64.8k [00:00<?, ?B/s]
100% 64.8k/64.8k [00:00<00:00, 25.9MB/s]

In [7]:
!unzip ttl-fb.zip

Archive:  ttl-fb.zip
  inflating: TTL_PAGE.csv
  inflating: social media visitors.csv
  inflating: social_media.csv

In [8]:
import pandas as pd

In [9]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-11-10 18:11:20          15560
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           9454
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           4235
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3454
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2621
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1564
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1831
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1081
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            477
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1269
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            465
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1010
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            201
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            176
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            160
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            227
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         157600
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         148198
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          24696
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          29604

In [10]:
report= pd.read_csv('social_media.csv')

report

    Unnamed: 0  ...                                Total_Monthly_Reach
0            0  ...  28 Days: The number of people who had any cont...
1            2  ...                                               5962
2            3  ...                                               6165
3            4  ...                                               5991
4            5  ...                                               6547
5            6  ...                                               6336
6            7  ...                                               6173
7            8  ...                                               6095
8            9  ...                                               6004
9           10  ...                                               6045
10          11  ...                                               6046
11          12  ...                                               6069
12          13  ...                                               6058
13          14  ...                                               6045
14          15  ...                                               6048
15          16  ...                                               6065
16          17  ...                                               4991
17          18  ...                                               4806
18          19  ...                                               4203
19          20  ...                                               3821
20          21  ...                                               3648
21          22  ...                                               3612
22          23  ...                                               3434
23          24  ...                                               3660
24          25  ...                                               3770
25          26  ...                                               3834
26          27  ...                                               3834
27          28  ...                                               3867
28          29  ...                                               3887
29          30  ...                                               3893

[30 rows x 9 columns]

In [11]:
report['Total_Monthly_Reach'].value_counts()

3834                                                                                                                                                                                                                                2
6045                                                                                                                                                                                                                                2
6336                                                                                                                                                                                                                                1
6046                                                                                                                                                                                                                                1
6165                                                                                                                                                                                                                                1
3612                                                                                                                                                                                                                                1
6069                                                                                                                                                                                                                                1
3821                                                                                                                                                                                                                                1
28 Days: The number of people who had any content from your Page or about your Page enter their screen. This includes posts, check-ins, ads, social information from people who interact with your Page and more. (Unique Users)    1
6547                                                                                                                                                                                                                                1
6004                                                                                                                                                                                                                                1
3770                                                                                                                                                                                                                                1
5991                                                                                                                                                                                                                                1
6095                                                                                                                                                                                                                                1
4806                                                                                                                                                                                                                                1
3887                                                                                                                                                                                                                                1
5962                                                                                                                                                                                                                                1
6173                                                                                                                                                                                                                                1
3660                                                                                                                                                                                                                                1
6048                                                                                                                                                                                                                                1
3893                                                                                                                                                                                                                                1
4203                                                                                                                                                                                                                                1
3867                                                                                                                                                                                                                                1
6058                                                                                                                                                                                                                                1
6065                                                                                                                                                                                                                                1
3648                                                                                                                                                                                                                                1
4991                                                                                                                                                                                                                                1
3434                                                                                                                                                                                                                                1
Name: Total_Monthly_Reach, dtype: int64

In [12]:
report.isnull().sum()

Unnamed: 0                   0
Date                         1
Daily_Engaged_Users          0
Monthly_Engaged_Users        0
Weekly Page Engaged Users    0
Lifetime Total Likes         0
Daily Total Reach            0
Weekly Total Reach           0
Total_Monthly_Reach          0
dtype: int64

In [13]:
report.drop(0,inplace=True)
report

    Unnamed: 0        Date  ... Weekly Total Reach Total_Monthly_Reach
1            2  2020-05-01  ...               1112                5962
2            3  2020-05-02  ...               1320                6165
3            4  2020-05-03  ...               1349                5991
4            5  2020-05-04  ...               1820                6547
5            6  2020-05-05  ...               1877                6336
6            7  2020-05-06  ...               1902                6173
7            8  2020-05-07  ...               1917                6095
8            9  2020-05-08  ...               1905                6004
9           10  2020-05-09  ...               1688                6045
10          11  2020-05-10  ...               1628                6046
11          12  2020-05-11  ...                689                6069
12          13  2020-05-12  ...                516                6058
13          14  2020-05-13  ...                445                6045
14          15  2020-05-14  ...                413                6048
15          16  2020-05-15  ...                406                6065
16          17  2020-05-16  ...                354                4991
17          18  2020-05-17  ...                343                4806
18          19  2020-05-18  ...                773                4203
19          20  2020-05-19  ...                838                3821
20          21  2020-05-20  ...                843                3648
21          22  2020-05-21  ...                849                3612
22          23  2020-05-22  ...                867                3434
23          24  2020-05-23  ...               1245                3660
24          25  2020-05-24  ...               1394                3770
25          26  2020-05-25  ...               1623                3834
26          27  2020-05-26  ...               1679                3834
27          28  2020-05-27  ...               1684                3867
28          29  2020-05-28  ...               1737                3887
29          30  2020-05-29  ...               1714                3893

[29 rows x 9 columns]

In [14]:
report.drop(columns=['Unnamed: 0'],inplace=True)

In [15]:
report

          Date Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
1   2020-05-01                   1  ...               1112                5962
2   2020-05-02                  32  ...               1320                6165
3   2020-05-03                  29  ...               1349                5991
4   2020-05-04                 117  ...               1820                6547
5   2020-05-05                  17  ...               1877                6336
6   2020-05-06                   6  ...               1902                6173
7   2020-05-07                  10  ...               1917                6095
8   2020-05-08                   3  ...               1905                6004
9   2020-05-09                   3  ...               1688                6045
10  2020-05-10                   2  ...               1628                6046
11  2020-05-11                   2  ...                689                6069
12  2020-05-12                   3  ...                516                6058
13  2020-05-13                   4  ...                445                6045
14  2020-05-14                   6  ...                413                6048
15  2020-05-15                   3  ...                406                6065
16  2020-05-16                   4  ...                354                4991
17  2020-05-17                   1  ...                343                4806
18  2020-05-18                  48  ...                773                4203
19  2020-05-19                   8  ...                838                3821
20  2020-05-20                  18  ...                843                3648
21  2020-05-21                  12  ...                849                3612
22  2020-05-22                   7  ...                867                3434
23  2020-05-23                  44  ...               1245                3660
24  2020-05-24                  11  ...               1394                3770
25  2020-05-25                  43  ...               1623                3834
26  2020-05-26                  18  ...               1679                3834
27  2020-05-27                  14  ...               1684                3867
28  2020-05-28                   2  ...               1737                3887
29  2020-05-29                   4  ...               1714                3893

[29 rows x 8 columns]

In [16]:
report['Date'].min()

'2020-05-01'

In [17]:
report['Date'].max()

'2020-05-29'

In [18]:
report.reset_index(inplace=True)
report

    index        Date  ... Weekly Total Reach Total_Monthly_Reach
0       1  2020-05-01  ...               1112                5962
1       2  2020-05-02  ...               1320                6165
2       3  2020-05-03  ...               1349                5991
3       4  2020-05-04  ...               1820                6547
4       5  2020-05-05  ...               1877                6336
5       6  2020-05-06  ...               1902                6173
6       7  2020-05-07  ...               1917                6095
7       8  2020-05-08  ...               1905                6004
8       9  2020-05-09  ...               1688                6045
9      10  2020-05-10  ...               1628                6046
10     11  2020-05-11  ...                689                6069
11     12  2020-05-12  ...                516                6058
12     13  2020-05-13  ...                445                6045
13     14  2020-05-14  ...                413                6048
14     15  2020-05-15  ...                406                6065
15     16  2020-05-16  ...                354                4991
16     17  2020-05-17  ...                343                4806
17     18  2020-05-18  ...                773                4203
18     19  2020-05-19  ...                838                3821
19     20  2020-05-20  ...                843                3648
20     21  2020-05-21  ...                849                3612
21     22  2020-05-22  ...                867                3434
22     23  2020-05-23  ...               1245                3660
23     24  2020-05-24  ...               1394                3770
24     25  2020-05-25  ...               1623                3834
25     26  2020-05-26  ...               1679                3834
26     27  2020-05-27  ...               1684                3867
27     28  2020-05-28  ...               1737                3887
28     29  2020-05-29  ...               1714                3893

[29 rows x 9 columns]

In [19]:
report.set_index('Date',inplace =True)
report

            index Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
Date                                   ...
2020-05-01      1                   1  ...               1112                5962
2020-05-02      2                  32  ...               1320                6165
2020-05-03      3                  29  ...               1349                5991
2020-05-04      4                 117  ...               1820                6547
2020-05-05      5                  17  ...               1877                6336
2020-05-06      6                   6  ...               1902                6173
2020-05-07      7                  10  ...               1917                6095
2020-05-08      8                   3  ...               1905                6004
2020-05-09      9                   3  ...               1688                6045
2020-05-10     10                   2  ...               1628                6046
2020-05-11     11                   2  ...                689                6069
2020-05-12     12                   3  ...                516                6058
2020-05-13     13                   4  ...                445                6045
2020-05-14     14                   6  ...                413                6048
2020-05-15     15                   3  ...                406                6065
2020-05-16     16                   4  ...                354                4991
2020-05-17     17                   1  ...                343                4806
2020-05-18     18                  48  ...                773                4203
2020-05-19     19                   8  ...                838                3821
2020-05-20     20                  18  ...                843                3648
2020-05-21     21                  12  ...                849                3612
2020-05-22     22                   7  ...                867                3434
2020-05-23     23                  44  ...               1245                3660
2020-05-24     24                  11  ...               1394                3770
2020-05-25     25                  43  ...               1623                3834
2020-05-26     26                  18  ...               1679                3834
2020-05-27     27                  14  ...               1684                3867
2020-05-28     28                   2  ...               1737                3887
2020-05-29     29                   4  ...               1714                3893

[29 rows x 8 columns]

In [20]:
report.head()

            index Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
Date                                   ...
2020-05-01      1                   1  ...               1112                5962
2020-05-02      2                  32  ...               1320                6165
2020-05-03      3                  29  ...               1349                5991
2020-05-04      4                 117  ...               1820                6547
2020-05-05      5                  17  ...               1877                6336

[5 rows x 8 columns]

In [21]:
report.head()

            index Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
Date                                   ...
2020-05-01      1                   1  ...               1112                5962
2020-05-02      2                  32  ...               1320                6165
2020-05-03      3                  29  ...               1349                5991
2020-05-04      4                 117  ...               1820                6547
2020-05-05      5                  17  ...               1877                6336

[5 rows x 8 columns]

In [22]:
report.tail(10)

            index Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
Date                                   ...
2020-05-20     20                  18  ...                843                3648
2020-05-21     21                  12  ...                849                3612
2020-05-22     22                   7  ...                867                3434
2020-05-23     23                  44  ...               1245                3660
2020-05-24     24                  11  ...               1394                3770
2020-05-25     25                  43  ...               1623                3834
2020-05-26     26                  18  ...               1679                3834
2020-05-27     27                  14  ...               1684                3867
2020-05-28     28                   2  ...               1737                3887
2020-05-29     29                   4  ...               1714                3893

[10 rows x 8 columns]

In [23]:
report.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 2020-05-01 to 2020-05-29
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      29 non-null     int64
 1   Daily_Engaged_Users        29 non-null     object
 2   Monthly_Engaged_Users      29 non-null     object
 3   Weekly Page Engaged Users  29 non-null     object
 4   Lifetime Total Likes       29 non-null     object
 5   Daily Total Reach          29 non-null     object
 6   Weekly Total Reach         29 non-null     object
 7   Total_Monthly_Reach        29 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.0+ KB

In [24]:
report.shape

(29, 8)

In [25]:
report.count()

index                        29
Daily_Engaged_Users          29
Monthly_Engaged_Users        29
Weekly Page Engaged Users    29
Lifetime Total Likes         29
Daily Total Reach            29
Weekly Total Reach           29
Total_Monthly_Reach          29
dtype: int64

In [26]:
report.median()

index                           15.0
Daily_Engaged_Users              7.0
Monthly_Engaged_Users          645.0
Weekly Page Engaged Users      104.0
Lifetime Total Likes         11023.0
Daily Total Reach               97.0
Weekly Total Reach            1320.0
Total_Monthly_Reach           5962.0
dtype: float64

In [27]:
report.mean()

index                         1.500000e+01
Daily_Engaged_Users           4.561765e+40
Monthly_Engaged_Users         2.889141e+85
Weekly Page Engaged Users     2.831073e+72
Lifetime Total Likes         3.800383e+142
Daily Total Reach             2.016908e+70
Weekly Total Reach           3.834938e+101
Total_Monthly_Reach          2.056075e+114
dtype: float64

In [28]:
report.rename(columns={'Weekly Page Engaged Users' : 'page'},inplace=True)
report

            index Daily_Engaged_Users  ... Weekly Total Reach Total_Monthly_Reach
Date                                   ...
2020-05-01      1                   1  ...               1112                5962
2020-05-02      2                  32  ...               1320                6165
2020-05-03      3                  29  ...               1349                5991
2020-05-04      4                 117  ...               1820                6547
2020-05-05      5                  17  ...               1877                6336
2020-05-06      6                   6  ...               1902                6173
2020-05-07      7                  10  ...               1917                6095
2020-05-08      8                   3  ...               1905                6004
2020-05-09      9                   3  ...               1688                6045
2020-05-10     10                   2  ...               1628                6046
2020-05-11     11                   2  ...                689                6069
2020-05-12     12                   3  ...                516                6058
2020-05-13     13                   4  ...                445                6045
2020-05-14     14                   6  ...                413                6048
2020-05-15     15                   3  ...                406                6065
2020-05-16     16                   4  ...                354                4991
2020-05-17     17                   1  ...                343                4806
2020-05-18     18                  48  ...                773                4203
2020-05-19     19                   8  ...                838                3821
2020-05-20     20                  18  ...                843                3648
2020-05-21     21                  12  ...                849                3612
2020-05-22     22                   7  ...                867                3434
2020-05-23     23                  44  ...               1245                3660
2020-05-24     24                  11  ...               1394                3770
2020-05-25     25                  43  ...               1623                3834
2020-05-26     26                  18  ...               1679                3834
2020-05-27     27                  14  ...               1684                3867
2020-05-28     28                   2  ...               1737                3887
2020-05-29     29                   4  ...               1714                3893

[29 rows x 8 columns]

In [29]:
report.astype(object)
report.describe()

           index
count  29.000000
mean   15.000000
std     8.514693
min     1.000000
25%     8.000000
50%    15.000000
75%    22.000000
max    29.000000